--------------------------------- MODULE MTrace3 ---------------------------------

EXTENDS Integers, Sequences

Tr == <<
%s
>>

VARIABLES %s, i
vars == << %s, i >>

Read ==
%s

ReadNext ==
%s

Init1 ==
  /\ i = 1
  /\ Read

Next1 ==
  /\ i < Len(Tr)
  /\ i' = i + 1
  /\ ReadNext

=============================================================================